.iframe-content {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    border: none;
    margin: 20px auto;
    display: block;
    background-color: #ffffff; /* Optional: Nền trắng */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
}

.tableau-container {
    margin: 20px auto;
    text-align: center;
    padding: 10px;
}

.tableauPlaceholder {
    width: 100%;
    max-width: 1200px;
    height: 700px;
    margin: 0 auto;
}
